[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass
[submodule "slam"]
	path = slam
	url = https://github.com/vrld/slam
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
	branch = master
[submodule "HC"]
	path = HC
	url = git://github.com/vrld/HC.git
	branch = master
[submodule "inspect"]
	path = inspect
	url = https://github.com/kikito/inspect.lua.git
[submodule "shine"]
	path = shine
	url = git@github.com:vrld/shine.git
